/* Carousel */
.carousel {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 500px;
	position: relative;
	overflow: hidden;
    margin-top: 16px;
    
    @media (max-width: 500px) {
        display: none;
	}
}
