/* Header */
header {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	background-color: #E7DEAB;
	position: fixed;
	z-index: 1000000;
  	width: 1500px; 
      
    @media (max-width: 1300px) {
        width: 100%;
    }      
    @media (max-width: 500px) {
        width: 100%;
    }
        
    nav {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 10px;
            color: #1A701C;
        }
    }
}
        
        